.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(10, 30, 50);
    box-shadow: 0 0 0 10px rgb(255, 255, 255);
    overflow: auto;
    padding: 2rem;
}

.modal__mensagem {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16pt;
    margin-bottom: 1rem;
    text-align: center;

}

.modal__botao {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    width: 8rem;
    height: 3rem;
    border: none;
    background-color: rgb(10, 30, 50);
    color: rgb(255, 255, 255);
}

.modal__botao:hover {
    background-color: rgb(23, 61, 100);
}

.modal__botao:active {
    width: 7.5rem;
    height: 2.3rem;
    font-size: 11pt;
}

.mostrar {
    display: flex;
}